@media screen and (max-width: 1200px) {
  /* Header */
  /* Our Story */
  /* Sweet */
  /* Menu */
  /* Hot */
  /* Delicious */
  /* Footer */
  /* Contact */
  /* Social */
  /* News Letter */
  /* Copy Right */
}

@media screen and (max-width: 992px) {
  .hamburger-icon {
    display: flex;
    align-items: center;
    justify-content: right;
  }
  /* Header */
  header {
    height: 70vh;
  }
  header nav ul.navbar {
    display: none;
  }
  header nav ul.responsive-navbar {
    display: flex;
  }
  /* Our Story */
  #our-story {
    padding: 50px 0;
  }
  #our-story .container {
    flex-direction: column;
  }
  #our-story .story-description,
  #our-story .story-image {
    width: 90%;
  }
  #our-story .story-image {
    margin-top: 40px;
  }
  #our-story .story-image img {
    max-width: 80%;
  }
  /* Sweet */
  #sweet .sweet-description p {
    width: 90%;
  }
  /* Menu */
  #menu {
    padding: 50px 0;
  }
  #menu .container {
    flex-direction: column;
  }
  #menu .menu-description {
    width: 100%;
  }
  #menu .menu-items {
    margin-top: 30px;
    width: 65%;
  }
  #menu .menu-description a {
    display: none;
  }
  #menu .see-more-after a {
    display: block;
  }
  #menu .menu-items ul li img {
    height: 180px;
  }
  /* Hot */

  /* Delicious */
  #delicious {
    padding: 50px 0;
  }
  #delicious .container {
    flex-direction: column;
  }
  #delicious .description {
    width: 100%;
  }
  #delicious .images {
    width: 70%;
    margin-top: 30px;
  }
  #delicious .images img {
    height: 450px;
  }
  /* Footer */
  footer .about p {
    width: 85%;
  }
  /* Contact */
  footer .contact {
    flex-direction: column-reverse;
  }
  /* Social */
  footer .contact .social {
    width: 85%;
    margin-top: 35px;
  }
  footer .contact .social ul li {
    margin: 0 12px;
  }
  /* News Letter */
  footer .contact .news-letter {
    width: 85%;
  }
  /* Copy Right */
}

@media screen and (max-width: 768px) {
  /* Header */
  header .header-description h1 {
    font-size: 40px;
  }
  header .header-description p {
    font-size: 22px;
  }
  /* Our Story */
  #our-story .story-image img {
    max-width: 90%;
  }
  #our-story .story-description h1 {
    font-size: 30px;
  }
  #our-story .story-description p {
    font-size: 19px;
  }
  /* Sweet */
  #sweet .sweet-description h1 {
    font-size: 40px;
  }
  #sweet .sweet-description p {
    font-size: 18px;
    width: 100%;
  }
  /* Menu */
  #menu .menu-description h1 {
    font-size: 33px;
  }
  #menu .menu-description p {
    font-size: 19px;
    line-height: 1.6;
  }
  #menu .menu-items {
    width: 75%;
  }
  #menu .menu-items ul li img {
    height: 170px;
  }
  #menu .see-more-after a {
    font-size: 19px;
  }
  /* Hot */
  #hot .hot-title h1 {
    font-size: 40px;
  }
  #hot .hot-title p {
    font-size: 18px;
    width: 100%;
  }
  /* Delicious */
  #delicious .description h1 {
    font-size: 35px;
  }
  #delicious .description p {
    font-size: 19px;
  }
  #delicious .images {
    width: 90%;
  }
  /* Footer */
  footer .about h2 {
    font-size: 32px;
  }
  footer .about p {
    width: 90%;
    font-size: 19px;
    line-height: 1.6;
  }
  /* Social */
  footer .contact .social {
    width: 90%;
  }
  footer .contact .social h2 {
    font-size: 26px;
  }
  /* News Letter */
  footer .contact .news-letter {
    width: 90%;
  }
  footer .contact .news-letter h2 {
    font-size: 26px;
  }
  footer .contact .news-letter form input {
    width: 90%;
    padding: 3px 8px;
  }
  /* Copy Right */
  footer .copy-right h2 {
    font-size: 21px;
  }
  footer .copy-right p {
    font-size: 17px;
  }
}

@media screen and (max-width: 576px) {
  /* Header */
  header .header-description h1 {
    font-size: 35px;
  }
  header .header-description p {
    font-size: 20px;
  }
  /* Our Story */
  #our-story .story-description,
  #our-story .story-image {
    width: 100%;
  }
  #our-story .story-image img {
    max-width: 100%;
  }
  #our-story .story-description h1 {
    font-size: 28px;
  }
  #our-story .story-description p {
    font-size: 18px;
    line-height: 1.6;
  }
  /* Sweet */
  #sweet .sweet-description h1 {
    font-size: 35px;
  }
  /* Menu */
  #menu .menu-description h1 {
    font-size: 30px;
  }
  #menu .menu-description p {
    font-size: 18px;
  }
  #menu .menu-items {
    width: 75%;
  }
  #menu .menu-items ul li img {
    height: 150px;
  }
  #menu .see-more-after a {
    font-size: 18px;
  }
  /* Hot */
  #hot .hot-title h1 {
    font-size: 35px;
  }
  /* Delicious */
  #delicious .images {
    width: 100%;
  }
  #delicious .description h1 {
    font-size: 30px;
  }
  /* Footer */
  footer .about h2 {
    font-size: 30px;
  }
  footer .about p {
    width: 100%;
    font-size: 18px;
  }
  /* Social */
  footer .contact .social {
    width: 100%;
  }
  footer .contact .social h2 {
    font-size: 25px;
  }
  /* News Letter */
  footer .contact .news-letter {
    width: 95%;
  }
  footer .contact .news-letter h2 {
    font-size: 25px;
  }
  footer .contact .news-letter form input {
    font-size: 17px;
    width: 100%;
  }
  /* Copy Right */
  footer .copy-right h2 {
    font-size: 20px;
  }
  footer .copy-right p {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .hamburger-icon svg {
    width: 38px;
    height: 38px;
  }
  /* Header */
  header nav .logo {
    width: 80%;
  }
  header nav .logo span {
    font-size: 22px;
    margin-right: 5px;
  }
  /* Our Story */

  /* Sweet */
  #sweet .sweet-description h1 {
    font-size: 32px;
  }
  #sweet .sweet-description p {
    font-size: 17px;
  }
  /* Menu */
  #menu .menu-description h1 {
    font-size: 28px;
  }
  #menu .menu-description p {
    font-size: 17px;
  }
  #menu .menu-items {
    width: 80%;
  }
  #menu .menu-items ul li img {
    height: 130px;
  }
  #menu .see-more-after a {
    font-size: 17px;
  }
  /* Hot */
  #hot .hot-title h1 {
    font-size: 32px;
  }
  #hot .hot-title p {
    font-size: 17px;
  }
  /* Delicious */
  #delicious .images {
    flex-direction: column;
  }
  #delicious .images img {
    width: 70%;
    height: 350px;
    margin-top: 15px;
  }
  /* Footer */
  /* Social */
  /* News Letter */
  /* Copy Right */
}

@media screen and (max-width: 320px) {
  .hamburger-icon svg {
    width: 35px;
    height: 35px;
  }
  /* Header */
  header nav .logo span {
    display: none;
  }
  header nav .logo img {
    height: 85%;
  }
  /* Our Story */

  /* Sweet */
  #sweet {
    height: 350px;
  }
  #sweet .sweet-description h1 {
    font-size: 28px;
  }
  #sweet .sweet-description p {
    font-size: 16px;
  }
  /* Menu */
  #menu .menu-description h1 {
    font-size: 25px;
  }
  #menu .menu-description p {
    font-size: 15px;
  }
  #menu .menu-items {
    width: 100%;
  }
  #menu .menu-items ul li img {
    height: 90px;
  }
  #menu .see-more-after a {
    font-size: 15px;
  }
  /* Hot */

  /* Delicious */
  #delicious .images img {
    width: 90%;
    height: 300px;
  }
  #delicious .description h1 {
    font-size: 28px;
  }
  /* Footer */
  footer .about h2 {
    font-size: 28px;
  }
  footer .about p {
    font-size: 17px;
  }
  /* Social */
  footer .contact .social h2 {
    font-size: 24px;
  }
  /* News Letter */
  footer .contact .news-letter {
    width: 100%;
  }
  footer .contact .news-letter h2 {
    font-size: 24px;
  }
  /* Copy Right */
  footer .copy-right h2 {
    font-size: 19px;
  }
  footer .copy-right p {
    font-size: 15px;
  }
}
