:root {
  --site-title: 50px;
  --site-paragraph: 25px;
  --title-size: 35px;
  --title-to-paragraph-distance: 15px;
  --paragraph-width: 90%;
  --paragraph-size: 20px;
  --paragraph-line-height: 1.7;
  --overlay-title: 45px;
  --overlay-width: 70%;
  --section-padding: 100px 0;
  --section-width: 50%;
  --flex-direction: row;
  --image-margin-top: 0;
  --footer-title-size: 27px;
  --our-story-image-width: 100%;
  --menu-items-width: 50%;
  --menu-images-height: 200px;
  --delicious-images-width: 50%;
  --delicious-images-height: 400px;
  --email-input-width: 100%;
  --copyright-header: 22px;
  --copyright-text: 18px;
}

@font-face {
  font-family: Vazir;
  src: url("../fonts/vazir.woff2") format("woff2"),
    url("../fonts/vazir.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazir, Arial, Helvetica, sans-serif;
}

body {
  font-family: Vazir, Arial, Helvetica, sans-serif;
  direction: rtl;
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: var(--flex-direction);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.flex-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Global */

.hamburger-icon {
  width: 20%;
  margin-left: auto;
  margin-right: 0;
  display: none;
  align-items: center;
  justify-content: right;
}

.hamburger-icon svg {
  width: 40px;
  height: 40px;
  fill: #eee;
  cursor: pointer;
}

.hamburger-icon svg:hover {
  fill: #fff;
}

.menu-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#our-story .story-description h1,
#menu .menu-description h1,
#delicious .description h1,
footer .about h2 {
  font-size: var(--title-size);
}

#our-story .story-description p,
#menu .menu-description p,
#delicious .description p,
footer .about p {
  font-size: var(--paragraph-size);
  margin-top: var(--title-to-paragraph-distance);
  line-height: var(--paragraph-line-height);
  width: var(--paragraph-width);
}

#sweet .sweet-description h1,
#hot .hot-title h1 {
  font-size: var(--overlay-title);
}

#sweet .sweet-description p,
#hot .hot-title p {
  font-size: var(--paragraph-size);
  width: var(--overlay-width);
  margin: var(--title-to-paragraph-distance) auto 0 auto;
}

/* Header */

header {
  background-image: url("../images/background.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

header .container {
  flex-direction: row;
}

header nav {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 50px;
}

header nav ul.navbar {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
  height: 100%;
}

header nav ul.navbar li {
  display: inline-block;
  margin: 0 10px;
}

header nav ul.navbar li a {
  text-decoration: none;
  color: #eee;
  font-size: 18px;
}

header nav ul.navbar li a:hover {
  color: #fff;
}

header nav ul.responsive-navbar {
  position: absolute;
  width: 150px;
  height: fit-content;
  top: 50px;
  right: -150px;
  padding: 18px 30px;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1;
  border-bottom-left-radius: 10px;
  animation: bubble 2s linear 0.5s 1 normal forwards;
  transition: 0.5s;
  display: none;
}

header nav ul.responsive-navbar li:first-child {
  margin: 0;
}

header nav ul.responsive-navbar li {
  display: inline-block;
  margin: 9px 0;
}

header nav ul.responsive-navbar li a {
  text-decoration: none;
  color: #eee;
  font-size: 18px;
}

header nav ul.responsive-navbar li a:hover {
  color: #fff;
}

header nav .logo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

header nav .logo img {
  height: 90%;
}

header nav .logo span {
  color: #eee;
  font-size: 24px;
  margin-right: 10px;
}

header .header-description {
  color: #eee;
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
}

header .header-description h1 {
  font-size: var(--site-title);
  width: 90%;
}

header .header-description p {
  font-size: var(--site-paragraph);
  margin-top: 20px;
  width: 90%;
}

/* Our Story */

#our-story {
  width: 100%;
  height: fit-content;
  padding: var(--section-padding);
}

#our-story .story-description {
  width: var(--section-width);
}

#our-story .story-image {
  margin-top: var(--image-margin-top);
  width: var(--section-width);
}

#our-story .story-image img {
  width: var(--our-story-image-width);
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* Sweet */

#sweet {
  width: 100%;
  height: 300px;
  padding: var(--section-padding);
  background-image: url("../images/sweet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

#sweet .sweet-description {
  color: #fff;
  margin: auto;
}

/* Menu */

#menu {
  width: 100%;
  height: fit-content;
  padding: var(--section-padding);
}

#menu .menu-description {
  width: var(--section-width);
}

#menu .menu-description a,
#menu .see-more-after a {
  font-size: var(--paragraph-size);
  margin-top: var(--title-to-paragraph-distance);
  text-decoration: none;
  color: #000;
  background-color: #333;
  color: #fff;
  padding: 4px 12px;
  border-radius: 12px;
}

#menu .menu-items {
  margin-top: var(--image-margin-top);
  width: var(--menu-items-width);
}

#menu .menu-items ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

#menu .menu-items ul li {
  flex: 50%;
  height: 50%;
}

#menu .menu-items ul li img {
  width: 95%;
  height: var(--menu-images-height);
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 3px 3px 6px #999;
  transition: all 0.1s ease;
}

#menu .menu-items ul li:hover img {
  box-shadow: 4px 4px 10px #777;
}

#menu .see-more-after a {
  display: none;
}

/* Hot */

#hot {
  width: 100%;
  height: fit-content;
  padding: 110px 0;
  background-image: url("../images/hot.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

#hot .hot-title {
  width: 100%;
  color: #fff;
  margin: auto;
}

/* Delicious */

#delicious {
  width: 100%;
  height: fit-content;
  padding: var(--section-padding);
}

#delicious .description {
  width: var(--section-width);
}

#delicious .images {
  margin-top: var(--image-margin-top);
  width: var(--delicious-images-width);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#delicious .images img {
  width: 47%;
  height: var(--delicious-images-height);
  object-fit: cover;
  border-radius: 10px;
}

/* Footer */

footer {
  background-color: #333;
  width: 100%;
  height: fit-content;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

footer .about {
  width: 100%;

  color: #eee;
}

/* Contact */

footer .contact {
  width: 100%;
  display: flex;
  flex-direction: var(--flex-direction);
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

/* Social */

footer .contact .social {
  width: 40%;
}

footer .contact .social h2 {
  font-size: var(--footer-title-size);
  color: #eee;
}

footer .contact .social ul {
  margin-top: 12px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .contact .social ul li {
  display: inline-block;
  margin: 0 12px;
}

footer .contact .social ul li a {
  text-decoration: none;
}

footer .contact .social ul li a svg {
  width: 25px;
  height: 25px;
}

footer .contact .social ul li a svg path {
  fill: #eee;
}

footer .contact .social ul li a:hover svg path {
  fill: #fff;
}

/* News Letter */

footer .contact .news-letter {
  width: 40%;
}

footer .contact .news-letter h2 {
  font-size: var(--footer-title-size);
  color: #eee;
}

footer .contact .news-letter form input {
  font-size: var(--paragraph-size);
  width: var(--email-input-width);
  margin-top: 12px;
  color: #000;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 4px 10px;
}

/* Copy Right */

footer .copy-right {
  background-color: #222;
  text-align: center;
  color: #eee;
  width: 100%;
  padding: 15px 0;
  height: fit-content;
}

footer .copy-right h2 {
  font-size: var(--copyright-header);
  width: 95%;
}

footer .copy-right p {
  font-size: var(--copyright-text);
  width: 95%;
}

footer .copy-right h2 a,
footer .copy-right p a {
  color: #fff;
  text-decoration: none;
}

footer .copy-right h2 a:hover,
footer .copy-right p a:hover {
  color: #eee;
}
